<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= task.title %></h5>
    <span class="card-subtitle text-muted">
      Created by:
      <p class="badge text-bg-purple">Antonio H.</p>
    </span>
    <hr>
    <span class="card-text">
      <%= task.details %>
    </span>
    <hr>
    <small class="card-text">Created <%= time_ago_in_words(task.created_at) %> ago</small>
  </div>
</div>
