<div class="p-5 text-bg-purple border rounded-3 mt-5">
  <h3 class="text-center">
    <%= "#{@user.first_name}'s Profile" %>
    <%= link_to '<i class="fa-regular fa-pen-to-square"></i>'.html_safe, edit_user_registration_path,
        class: 'btn btn-sm btn-light mr-1 w-2r' %>
  </h3>
</div>
<%= render 'basic_profile', user: @user %>
<h3 class="p-5 col-md-8 offset-md-1">Payment Details</h3>
<div class="p-5 text-bg-light border rounded-3 col-md-8 offset-md-1">
  <%= render 'payment_details', user: @user %>
  <hr>
  <h5>You're currently suscribed to
    <strong>Basic Plan</strong>, your current status is
    <span style="color: green;">active</span>.
  </h5>
  <h5>Your next payment is due to <strong>11/21/2022</strong></h5>
</div>
