<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Plan name</h5>
    <h6 class="card-subtitle mb-2 text-muted">Plan price $</h6>
    <p class="card-text">Plan description, maximum users per plan.</p>
    <div class="position-relative py-2">
      <button class="btn btn-outline-primary position-absolute top-5 start-50 translate-middle" type="button">Join Now</button>
    </div>
  </div>
</div>
