<% # too much information right here, this should have been included in the translations %>
<div class="container-fuild mt-5 p-5 text-bg-dark rounded-3" id="jumbotron">
  <h1 class="display-5 fw-bold">Task Managment for Every Team</h1>
  <p class="col-md fs-4"> 
    Team Task is a project management webapp that gives you the tools to keep track of your tasks and projects. It allows
    you to share tasks, collaborate with others on them, create tasks from outside the system, assign tasks to other
    members in your team and keep track of who was assigned to which task.
  </p>
  <p class="col-md">
    <strong>Start managin your projects with confidence.</strong>
  </p>
  <button class="btn btn-outline-light offset-md-10" type="button">Join Now</button>
</div>

<div class="h-100 p-5 text-bg-dark border rounded-3 mt-5" id="free-trial">
  <h1 class="display-5 fw-bold text-purple">Try the Basic Plan Now!</h1>
  <p class="col-md fs-4">
    Start managing your projects with the best tools for free! Get unlimited access
    for 15 days to the platform, cancel your trial at any time.
  </p>
  <button class="btn offset-md-10 btn-primary btn-purple" type="button">Start Trial</button>
</div>

<div class="d-flex justify-content-evenly p-5">
  <% @plans.each do |plan| %>
  <div class="my-3">
    <%= render 'shared/plan_card', plan: plan %>
  </div>
  <% end %>
</div>
