@import "bootstrap";

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100hv;

  #jumbotron {
    background-color: #5e5fee !important;
  }

  #free-trial {
    background: linear-gradient(
        0deg,
        rgba(211, 157, 255, 0.369),
        rgba(179, 107, 255, 0.428)
      ),
      asset-url("managment.jpg");
    background-size: cover;
  }

  .btn-purple {
    background-color: #5e5fee !important;
    color: white !important;
  }

  .text-purple {
    color: #5e5fee !important;
  }

  .text-bg-purple {
    color: #fff !important;
    background-color: #5e5fee !important;
  }

  .text-bg-light-blue {
    color: #fff !important;
    background-color: #2889dd !important;
  }

  .relative {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .task-list-title {
    border-bottom: 1px solid;
    border-radius: 0.5rem;
    padding: 0px 10px;
  }

  .col-md-3-custom {
    flex: 0 0 auto;
    width: 32%;
  }

  .task-list-color {
    width: 0.5rem;
    height: inherit;
    position: absolute;
    right: -10px;
    bottom: 0px;
    color: transparent !important;
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
  }

  .border {
    border-width: 2px !important;
  }

  .bottom-border {
    border-bottom: 1px solid;
  }

  .text-7r {
    font-size: 0.7rem;
  }

  .text-9r {
    font-size: 0.9rem;
  }

  .text-15r {
    font-size: 1.5rem;
  }

  .btn-text {
    text-decoration: none;
    color: black;
  }

  .mr-1 {
    margin-right: 1rem;
  }
}
